// Greys
$clr1: #ffffff;
$clr2: #95adbe;
$clr3: #6b778c;
$clr4: #58667f;

// Colors
$light-yellow: #faf3c0;
$yellow: #f5dd29;
$light-red: #ef7564;
$red: #de350b;
$light-green: #d6ecd2;
$green: #7bc86c;




// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;