header {
}
.home-page-header{
    background-color: rgb(255, 255, 255);
    cursor: default;
    position: fixed;
    top: 0px;
    transition: background-color 0.5s ease 0s, box-shadow 0.5s ease 0s;
    width: 100vw;
    z-index: 100;
    background-color: #fff;
    padding: 10px;
    .logo-img-home{
        width: rem(109px);
    }
    .home-logo-page{
        display: contents;
    }
    .login-button{
        -webkit-box-align: center;
        align-items: center;
        align-self: stretch;
        color: rgb(23, 43, 77);
        display: flex;
        font-size: 1.2rem;
        height: 100%;
        padding: 0.5rem 1.5rem;
        text-decoration: none;
    
    }
    nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

    // background-color: $clr2;

    // .loggedin-user {
    //     background-color: $clr1;
    //     padding: 2px 8px;
    //     border-radius: 1em;
    //     align-self: flex-end;
    //     color: whitesmoke;
    //     span{
    //         background-color: $clr2;
    //         padding: 4px;
    //         margin: 10px;
    //         border-radius: 50%;
    //     }
    // }
    // nav {
    //     // background-color: $clr4;
    //     padding: 5px 0;
    // }
    // nav a:not(:first-child) {
    //     border-top: 1px solid $clr1;
    //     padding: 0 5px;
    //     margin: 10px;
    // }
    // nav .active {
    //     color: $clr1;
    // }
    

