.card-group{
    min-width: 272px;
    max-width: 272px;
    min-height:em(80px);
    color: $clr4;
    background-color: $clr2;
    border-radius: 3px;
    .title-container{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    svg{
        margin-inline-end: 1rem;
        font-size:50px;
    }

    .group-title{
        font-size: rem(16px);
        background-color: unset;
        color: $clr5;
        border: none;
        margin-inline-start: rem(16px);
        padding-top: rem(13px);
        padding-bottom: rem(9px);
        font-weight: 600;

    }

    .add-card{
        background-color: unset;
        color: unset;
        border: none;
    }

    .add-card-section{
        .buttons{
        display:flex;
        justify-content: space-between;
        align-items: center;
        >*{
        button{
            background-color: bisque;
            width: rem(24px);
            height: rem(24px);
            img{
                width:rem(24px);
            }
        }
    }
    }
    }
}