


.modal-add-menu{
    float: right;
    overflow: hidden;
    padding: 0 16px 8px 8px;
    width: 192px;
    z-index: 10;
    .add-option-img{
        width: 16px;
        margin: 0 6px 0 -6px;
    }
    .add-option-div{
        display: flex;
        // justify-content: center;
        align-items: center;
        margin-top: 8px;
        height: 32px;
    }
}