


.modal-add-menu{
    float: right;
    overflow: hidden;
    padding: 0 16px 8px 8px;
    width: 192px;
    z-index: 10;
    .add-option-img{
        width: 16px;
        margin: 0 6px 0 -6px;
    }
    .add-option-div{
        display: flex;
        // justify-content: center;
        align-items: center;
        margin-top: 8px;
        height: 32px;
    }
    .mini-modal-header{
        display: flex;
        justify-content: center;
        align-items: center;
        span{
            font-size: 14px;
            margin: 0;
            margin: 0 12px;
            padding: 0 32px;
            color: #5e6c84;
        }
    }
    .close-mini-modal-btn{
        color: #5e6c84;
        position: absolute;
        // top: 0;
        background-color: transparent;
        right: 0;
    }
    .option-custom-card{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 304px;
        position: absolute;
        padding: 0;
        top: 5px;
    }
}