.board-details{
background-image:url("https://trello-backgrounds.s3.amazonaws.com/SharedBackground/2465x1600/560d0ec362004ae022ec06afdb2b06ef/photo-1599974579688-8dbdd335c77f.jpg") ;
height: calc( 100vh - 44px );
background-size: cover;
}

.board-header{
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: em(48px);

    >*{
        display: flex;
    align-items: center;

    h1{
        font-size: rem(18px)
    }

    }


    .transparent-btn{
    background-color: rgba(255, 255, 255, 0.2);
    }
    // button{
    //     background-color: ;
    // }
}

