.board-app{
background-image:url("https://trello-backgrounds.s3.amazonaws.com/SharedBackground/2465x1600/560d0ec362004ae022ec06afdb2b06ef/photo-1599974579688-8dbdd335c77f.jpg") ;
height: 100vh;
background-size: cover;
}

.board-header{
    display: flex;

    .board-header-left{
    display: flex;
        
    }
    .board-header-right{
    display: flex;
        
    }


    .transparent-btn{
    
    }
    button{
        background-color: ;
    }
}

